@model Event

@{
    ViewData["Title"] = "Деталі події";
}

<h2>Деталі події</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TargetAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TargetAmount)
        </dd>
        <dt class="col-sm-2">
            Пожертви
        </dt>
        <dd class="col-sm-10">
            @if (Model.Donations != null && Model.Donations.Any())
            {
                <ul>
                    @foreach (var donation in Model.Donations)
                    {
                        <li>@donation.DonorName - @donation.Amount.ToString("C") (@donation.DonationDate.ToString("dd.MM.yyyy"))</li>
                    }
                </ul>
            }
            else
            {
                <span>Пожертв поки немає</span>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EventId" class="btn btn-warning">Редагувати</a>
    <a asp-action="Index" class="btn btn-secondary">Назад до списку</a>
</div>

